
scr/Prototipo2/global.json
scr/Prototipo2/.idea/.idea.Prototipo2/.idea/vcs.xml
scr/Prototipo2/.idea/.idea.Prototipo2/.idea/indexLayout.xml
scr/Prototipo2/.idea/.idea.Prototipo2/.idea/encodings.xml
scr/Prototipo2/Prototipo2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
scr/Prototipo2/Prototipo2/obj/Debug/net6.0/Prototipo2.assets.cache
scr/Prototipo2/Prototipo2/obj/Debug/net6.0/Prototipo2.assets.cache
scr/Prototipo2/Prototipo2/obj/Debug/net6.0/Prototipo2.GeneratedMSBuildEditorConfig.editorconfig
scr/Prototipo2/Prototipo2/obj/project.assets.json
scr/Prototipo2/Prototipo2/obj/project.nuget.cache
scr/Prototipo2/Prototipo2/obj/project.packagespec.json
scr/Prototipo2/Prototipo2/obj/Prototipo2.csproj.nuget.dgspec.json
scr/Prototipo2/Prototipo2/obj/Prototipo2.csproj.nuget.g.props
scr/Prototipo2/Prototipo2/obj/rider.project.restore.info
